<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/templateInitial}"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title th:text="#{book.title.page}"></title>
</head>
<body>

	<div layout:fragment="custom-content-wrapper">
		<h1 th:text="#{book.edit.page}"></h1>

		<form action="" th:action="@{saveBook}" th:object="${book}"
			method="post">
			<p>
				Code: <input type="text" th:field="*{isbn}" 
			  	 th:readonly="*{isbn}" />
				
			</p>
			<p>
				Name: <input type="text" th:field="*{title}" />
			</p>
			<p>
				Date: <input type="date" th:filed="*{dateOfPublication}" />
			</p>
			<p>
				<input type="submit" value="Submit" /> 
			</p>
		</form>
	</div>
</body>
</html>